
.bird {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.even {
    display: grid;
    grid-template-columns: repeat(5, 20%);
}

main {
    display: grid;
    grid-template-columns: 20% 1fr;
    gap: 20px; 
}
img {
    width: 100%;
    height: auto;
}
footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(4, 1fr);
}