.box {

    background-color: rgb(129, 186, 183);

    border: 2px solid black;
     

}
.container1 {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}
.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
}
.container3 {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-column-gap: 15px;
}
.container4{
    display: grid;
    grid-template-columns: 50% 25% 25%; 
}