li{
    list-style-image: url('images/fuji.jpg');
}
li:nth-child(2){
    list-style-image: url('images/goryoukaku.jpg');
}
li:nth-child(3){
    list-style-image: url('images/Himejijyou.jpg');
}
li:nth-child(4){
    list-style-image: url('images/kinnkakuji.jpg');
}
li:nth-child(5){
    list-style-image: url('images/Kiyomizudera.jpg');
}
li:nth-child(6){
    list-style-image: url('images/shibuya.jpg');
}
li:nth-child(7){
    list-style-image: url('images/skytree.jpg');
}